<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments.html::head(title='Index Page')">


    <!--    <title>Index Page</title>-->
</head>
<body>

<!-- Nav-->
<div th:replace="_fragments.html::menu(2)"></div>
<!-- contect-->
<div class="container pt-3">

    505
</div>


<!-- footer-->
<div th:replace="_fragments.html::footer"></div>
<!---->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:replace="_fragments.html::script"></div>
</body>
</html>