.qr_code {
    height: 130px;
    width: 130px;
}

.center_image_container {
    display: flex;
    justify-content: center
}

.test1 {
    background: red;
}

.test2 {
    background: orange;
}

.test3 {
    background: yellow;
}

.test4 {
    background: green;
}



