.qr_code {
    height: 130px;
    width: 130px;
}

.center_image_container {
    display: flex;
    justify-content: center
}


.m_inline_block{
    display: inline-block
}

a:hover{
    color: #35434c;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
.footer_detail_text{
    color: #8a95a1;

}

.test1 {
    background: red;
}

.test2 {
    background: orange;
}

.test3 {
    background: yellow;
}

.test4 {
    background: green;
}



