body {
    /*background-image: url("../../static/images/b2.jpg");*/
}

.blog_text_color{
    color: #4a4a4a;
}

.qr_code {
    height: 130px;
    width: 130px;
}

.center_image_container {
    display: flex;
    justify-content: center
}


.m_inline_block {
    display: inline-block
}

a:hover {
    color: #35434c;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.footer_detail_text {
    color: #8a95a1;

}

.blog_inf_small_text {
    color: #2a2e32;

}

.tag {
}

.test1 {
    background: red;
}

.test2 {
    background: orange;
}

.test3 {
    background: yellow;
}

.test4 {
    background: green;
}


img.small_img_icon_rounded {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}
