<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments.html::head(title='Index Page')">


    <!--    <title>Index Page</title>-->
</head>
<body>

<!-- Nav-->
<div th:replace="_fragments.html::menu(4)"> </div>
<!-- contect-->
<div class="container pt-3">

    <div class="row">
        <div class="col-md-8  ">
            <div class="card p-3">
                <img src="../static/images/example.jpg" th:src="@{/images/example.jpg}" class="img-fluid rounded">
            </div>


        </div>
        <div class="col-md-4 ">

            <!--            About me-->
            <div class="card ">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md text-md-left text-center">
                            About me
                        </div>

                    </div>


                </div>

                <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                    quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.

                </div>


            </div>

            <!--            Category-->
            <div class="card mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md text-md-left text-center">
                            Category
                        </div>

                    </div>


                </div>


                <div style="display:flex;flex-wrap: wrap">
                    <div class="btn btn-success btn-sm p-1 m-1">category</div>
                    <div class="btn btn-success btn-sm p-1 m-1">category</div>
                    <div class="btn btn-success btn-sm p-1 m-1">category</div>
                </div>


            </div>

            <!--            tags-->
            <div class="card mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md text-md-left text-center">
                            Tags
                        </div>
                        <div class="col-md text-md-right text-center">
                            <a href="*"> more</a>
                        </div>
                    </div>


                </div>
                <div style="display:flex;flex-wrap: wrap">
                    <div class="btn btn-danger btn-sm p-1 m-1">tag</div>
                    <div class="btn btn-danger btn-sm p-1 m-1">tag</div>
                    <div class="btn btn-danger btn-sm p-1 m-1">tag</div>
                    <div class="btn btn-danger btn-sm p-1 m-1">tag</div>
                    <div class="btn btn-danger btn-sm p-1 m-1">tag</div>
                </div>


            </div>


        </div>
    </div>
</div>


<!-- footer-->
<div th:replace="_fragments.html::footer"></div>
<!---->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:replace="_fragments.html::script"></div>
</body>
</html>
