<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--    <link rel="stylesheet" href="static/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../static/css/my_css.css">

    <title>Tags Page</title>
</head>
<body>

<!-- Nav-->
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">

                <a class="nav-link" href="#">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shop" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
                    </svg>
                    Index </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gem" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785l-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004l.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495l5.062-.005L8 13.366 5.47 5.495zm-1.371-.999l-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l2.92-.003 2.193 6.82L1.5 5.5zm7.889 6.817l2.194-6.828 2.929-.003-5.123 6.831z"/>
                    </svg>
                    Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M2 2v4.586l7 7L13.586 9l-7-7H2zM1 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2z"/>
                        <path fill-rule="evenodd"
                              d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                    </svg>
                    Tag</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                        <path fill-rule="evenodd"
                              d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                    TimeLine</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                        <circle cx="8" cy="4.5" r="1"/>
                    </svg>
                    About Me</a>
            </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search...." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!-- contect-->
<div class="container pt-3">

    <div class="card">
        <!--                head-->
        <div class="card-header">
            <div class="row">
                <div class="col-md text-center text-md-left card-title text-info">Tags</div>
                <div class="col-md text-center text-md-right">
                    Total
                    <div class="text-danger h4 m_inline_block">14</div>
                    Tags
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex  flex-wrap">
                <!--                category element-->
                <button type="button" class="btn btn-danger m-2">
                    Programming <span class="badge badge-light">12</span>
                </button>

                <button type="button" class="btn btn-secondary m-2">
                    Programming <span class="badge badge-light">12</span>
                </button>
            </div>

        </div>

    </div>

    <div class="card mt-2">
        <ul class="list-group list-group-flush">

            <!--                        element-->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-8 ">
                        <div class="font-weight-bold">I am a title</div>
                        <div class="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                        </div>

                        <div class="row">
                            <div class="col-8">

                                <img src="https://onaliternote.files.wordpress.com/2016/11/wp-1480230666843.jpg"
                                     class="small_img_icon_rounded m_inline_block">
                                <a href="*" class="m_inline_block text-info pr-1">name</a>
                                <div class="m_inline_block blog_inf_small_text pr-1">2020-09-25</div>
                                <div class="m_inline_block blog_inf_small_text pr-1">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                                        <path fill-rule="evenodd"
                                              d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>
                                </div>

                                <div class="m_inline_block blog_inf_small_text pr-1">123</div>
                            </div>
                            <div class="col-4 d-flex flex-wrap align-items-start">
                                <div class="btn btn-danger btn-sm p-1 m-1 ">asdas</div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <a href="*">
                            <img src="https://onaliternote.files.wordpress.com/2016/11/wp-1480230666843.jpg"
                                 class="img-fluid rounded" alt="Responsive image">
                        </a>
                    </div>
                </div>
            </li>


            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-8 ">
                        <div class="font-weight-bold">I am a title</div>
                        <div class="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                            commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et
                        </div>

                        <div class="row">
                            <div class="col-8">

                                <img src="https://onaliternote.files.wordpress.com/2016/11/wp-1480230666843.jpg"
                                     class="small_img_icon_rounded m_inline_block">
                                <a href="*" class="m_inline_block text-info pr-1">name</a>
                                <div class="m_inline_block blog_inf_small_text pr-1">2020-09-25</div>
                                <div class="m_inline_block blog_inf_small_text pr-1">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                                        <path fill-rule="evenodd"
                                              d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>
                                </div>

                                <div class="m_inline_block blog_inf_small_text pr-1">123</div>
                            </div>
                            <div class="col-4" style="display:flex;flex-wrap: wrap">
                                <div class="btn btn-danger btn-sm p-1 m-1">asdas</div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <a href="*">
                            <img src="https://onaliternote.files.wordpress.com/2016/11/wp-1480230666843.jpg"
                                 class="img-fluid rounded" alt="Responsive image">
                        </a>


                    </div>
                </div>
            </li>


        </ul>
    </div>
</div>


<!-- footer-->
<footer class="container mt-4">
    <div class="row">
        <div class="col-md-2">

            <div class="center_image_container">
                <img src="../static/images/qr.png" class="rounded qr_code   "/>
            </div>


        </div>
        <div class="col-md-2   ">
            <h5 class="text-center">
                The Newest Blog
            </h5>


            <div class="text-center"><a href="*" class="footer_detail_text">User Story 1</a></div>
            <div class="text-center"><a href="*" class="footer_detail_text">User Story 1</a></div>
            <div class="text-center"><a href="*" class="footer_detail_text">User Story 1</a></div>

        </div>
        <div class="col-md-2  ">
            <h5 class="text-center">
                Content Me
            </h5>


            <div class="text-center"><a href="*" class="footer_detail_text">23456788</a></div>
            <div class="text-center"><a href="*" class="footer_detail_text">erwer@gmail.com</a></div>
        </div>
        <div class="col-md-6  ">
            <h5 class="text-center">
                My Name
            </h5>
            <div class="text-center footer_detail_text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et
            </div>


        </div>
    </div>


    <div class="text-center mt-3">
        © 2005-2011 John Doe All Rights Reserved
    </div>
</footer>
<!---->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>
