<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments.html::head(title='Index Page')">


    <!--    <title>Index Page</title>-->
</head>
<body>

<!-- Nav-->
<div th:replace="_fragments.html::menu(3)"></div>
<!-- contect-->
<div class="container pt-3">

    <div class="card">
        <!--                head-->


        <div class="card-header">
            <div class="row">
                <div class="col-md text-center text-md-left text-info d-flex align-items-center">TimeLine</div>
                <div class="col-md text-center text-md-right d-flex align-items-center justify-content-end">
                    <div>Total
                        <div class="text-danger h4 m_inline_block" th:text="${blogs.size()}">14</div>
                        Blogs
                    </div>

                </div>
            </div>
        </div>


    </div>


    <div class="text-center mt-4">
        <th:block th:each="yb:${yearAndBlogSList}">
            <div class="h2 my-4" th:text="${yb.year}">2017</div>
            <div class="card " th:each="blog:${yb.blogs}">

                <ul class="list-group list-group-flush">

                    <li class="list-group-item time_line_item">
                        <div class="row">
                            <a class="m_inline_block" th:text="${blog.title}"
                               th:href="@{/blog/{id}(id=${blog.getId()})}">Topic</a>
                        </div>
                        <div class="row">
                            <div class="m_inline_block alert alert-info p-1 mb-0 ml-1"
                                 th:text="${#dates.format(blog.createTime, 'dd-MM-yyyy HH:mm')}"
                            >
                                02/10/2020
                            </div>
                        </div>

                    </li>

                </ul>


            </div>
        </th:block>

    </div>

</div>


<!-- footer-->
<div th:replace="_fragments.html::footer"></div>
<!---->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:replace="_fragments.html::script"></div>
</body>
</html>
