<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-md-12">
            <div class="blog-comment">
                <ul class="comments">
                    <li class="clearfix"><img class="avatar" src="https://bootdey.com/img/Content/user_1.jpg">
                        <div class="post-comments">
                            <div class="meta"><span>Dec 18, 2014</span><a href="*">JohnDoe</a><span>says :</span><i
                                    class="pull-right"><a href="*"><small>Reply</small></a></i></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a sapien odio, sit
                                amet</p></div>
                    </li>
                    <li class="clearfix"><img class="avatar" src="https://bootdey.com/img/Content/user_1.jpg">
                        <div class="post-comments">
                            <div class="meta"><span>Dec 18, 2014</span><a href="*">JohnDoe</a><span>says :</span><i
                                    class="pull-right"><a href="*"><small>Reply</small></a></i></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a sapien odio, sit
                                amet</p></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>