<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="_fragments.html::head(title='Blog input Page')">
<body>

<!-- Nav-->

<div th:replace="_fragments.html::admin_nav(0)"></div>

<div class="container text-right">
    <div th:replace="_fragments.html::admin_post_list_button(0,'/admin/blogs/input','/admin/blogs')"></div>

</div>

<!-- contect-->
<div class="container pt-3">
    <form method="post" th:action="@{/admin/blogs}" id="blog_input_form">
        <input type="hidden" name="id" id="id" th:value="${blog?.id}"/>
        <input type="hidden" name="flag" id="flag" th:value="${blog?.flag}"/>
        <input type="hidden" name="published" id="published"/>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary dropdown-toggle" id="drop_down_button_before_title"
                        type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" th:text="${blog?.flag}">Dropdown
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item dropdown-item_before_title" href="#">Original</a>

                </div>
            </div>
            <input type="text" class="form-control " placeholder="Title" name="title" th:value="${blog?.title}"
                   th:classappend="${errors?.get('title')!=null}?'is-invalid':''">
            <div class="invalid-feedback" id="titleError" th:text="${errors?.get('title')}">
                Please input title
            </div>
        </div>

        <div class="form-group">
            <div id="test-editor">
                <textarea rows="3" style="display:none;" name="content"
                          th:text="${errors}==null?${blog?.content}:${errors?.get('content')}">

                </textarea>
            </div>

        </div>

        <div class="form-row">
            <div class="input-group col">
                <div class="input-group-prepend">
                    <div class="input-group-text">Type</div>
                </div>
                <select class="form-control" name="typeId" th:value="${blog?.type?.id}">

                    <th:block th:each="type:${types}">
                        <option th:value="${type.getId()}" th:text="${type.getName()}">Default Category 1
                        </option>
                    </th:block>


                </select>
            </div>


        </div>

        <div class="row">
            <div class="input-group my-3 col">
                <div class="flex-grow-1 d-flex flex-wrap" id="tag_holder">


                    <input type="text" class=" flex-grow-1 tag_item tag_item-input" placeholder="input tag at here"
                           id="tag_input">

                </div>


            </div>

        </div>


        <img alt="" style="max-height: 100px; margin-top: 10px" id="imageDisplay"
             th:src="'data:image/jpeg;base64,'+${blog?.firstPicture}">
        <div class="input-group mt-3">
            <div class="input-group-prepend">
                <div class="input-group-text">Image</div>
            </div>
            <input type="hidden" class="form-control" placeholder="image address" name="firstPicture">

            <input type="file" id="myFile" name="filename" accept="image/x-png,image/gif,image/jpeg">
        </div>

        <div class="mt-3">

            <div class="custom-control custom-checkbox m_inline_block">
                <input class="form-check-input " type="checkbox" name="recommend"
                       th:checked="${blog?.recommend}?'checked'">
                <label class="form-check-label">
                    recommend
                </label>

            </div>
            <div class="custom-control custom-checkbox m_inline_block">


                <input class="form-check-input " type="checkbox" name="shareStatement"
                       th:checked="${blog?.shareStatement}?'checked'">
                <label class="form-check-label">
                    from other people
                </label>
            </div>
            <div class="custom-control custom-checkbox m_inline_block">

                <input class="form-check-input " type="checkbox" name="appreciation"
                       th:checked="${blog?.appreciation}?'checked'">
                <label class="form-check-label">
                    like
                </label>
            </div>
            <div class="custom-control custom-checkbox m_inline_block">


                <input class="form-check-input " type="checkbox" name="commentabled"
                       th:checked="${blog?.commentabled}?'checked'">
                <label class="form-check-label">
                    commentable
                </label>
            </div>
        </div>

        <div class="mt-2">
            <div class="btn btn-primary">Back</div>
            <button type="submit" class="btn btn-primary" id="bt_save">Save</button>

            <button type="submit" class="btn btn-primary" id="bt_post">Post</button>

        </div>
    </form>

</div>


<!-- footer-->

<!---->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:replace="_fragments.html::script"></div>
<!--<script src="../../static/lib/editormd/editormd.js"></script>-->
<script th:src="@{/lib/prism/prism.js}"></script>
<script th:src="@{/lib/editormd/editormd.js}"></script>
<script th:inline="javascript">

    // TODO set the default flag
    let needToSetTheDefaultFlag = /*[[${blog} == null ? true : false]]*/;

    $(document).ready(function () {

        let dropdown_item_before_title = $(".dropdown-item_before_title")
        let dropdown_item_before_title_values = []
        dropdown_item_before_title.each(function () {

            dropdown_item_before_title_values.push($(this).text())
        })

        console.log(dropdown_item_before_title_values)
        if (needToSetTheDefaultFlag && dropdown_item_before_title_values.length > 0) {
            let t = dropdown_item_before_title_values[0]
            $("#drop_down_button_before_title").text(t)
            $("#flag").val(t)
        }

        dropdown_item_before_title.click(function () {
            //TODO here to change the select text
            let text = $(this).text()
            $("#drop_down_button_before_title").text(text)
            $("#flag").val(text)
        });

        let testEditor;
        testEditor = editormd("test-editor", {
            width: "100%",
            height: 640,
            syncScrolling: "single",
            path: "../static/lib/editormd/lib/"
        });

        let blogInputForm = $('form')
        blogInputForm.submit(function () {


            let clickedBtId = $(document.activeElement).attr('id')

            let published = $("#published")
            if (clickedBtId === 'bt_save') {
                //    save
                published.val("false")

            } else {
                //    post
                published.val("true")
            }


            //TODO need to check the form title content require
            let titleInput = $('[name ="title"]')
            let titleError = $('#titleError')
            let content = $('[name ="content"]')
            let titleInputIsEmpty = $.trim(titleInput.val()) === ''
            let contentIsEmpty = $.trim(content.text()) === ''
            console.log(titleInput.val())
            console.log(content.text())
            console.log(titleInputIsEmpty)
            console.log(contentIsEmpty)
            if (titleInputIsEmpty || contentIsEmpty) {
                if (titleInputIsEmpty) {
                    titleInput.addClass('is-invalid')
                    titleError.text("title should not empty")
                } else {
                    titleInput.removeClass('is-invalid')
                }
                if (contentIsEmpty) {
                    // content.text("please input something")
                    testEditor.setMarkdown("please input something")
                }


                return false
            } else {

                return true
            }


        })


        new autoComplete({
            selector: '#tag_input',
            minChars: 1,
            source: function (term, response) {
                term = term.toLowerCase();

                if (term.trim() !== '') {
                    let url = "/admin/tags/" + term
                    $.getJSON(url, function (tags) {
                        console.log(tags)
                        let tagnames = tags.map(function (tag) {
                            return tag.name
                        })

                        response(tagnames)
                    })
                }


            }
        });
        $('#tag_input').keypress(function (e) {
            //space click
            let tag_input = $('#tag_input')
            if (e.which == 32 && (tag_input.val().trim() !== '')) {

                // alert('You pressed enter!');
                tag_input.before(" <span class=\"badge badge-secondary d-flex align-items-center tag_item\">" + tag_input.val() +
                    "</span>")
                tag_input.val('')
                return false;
            }
        });

        $("body").on('DOMSubtreeModified', "#tag_holder", function () {
            // code here
            let tagElements = $("#tag_holder").find("span")
            console.log(tagElements)
            let tags = tagElements.map(function () {
                return $(this).text().trim()

            }).get();
            console.log(tags)
        });
    });

    // Check for the File API support.
    if (window.File && window.FileReader && window.FileList && window.Blob) {
        // document.getElementById('myFile').addEventListener('change', handleFileSelect, false);
        $('#myFile').on("change", handleFileSelect
        );
    } else {
        alert('The File APIs are not fully supported in this browser.');
    }

    function handleFileSelect(evt) {
        var f = evt.target.files[0]; // FileList object
        var reader = new FileReader();
        // Closure to capture the file information.
        reader.onload = (function (theFile) {
            return function (e) {
                var binaryData = e.target.result;
                //Converting Binary Data to base 64
                var base64String = window.btoa(binaryData);

                let firstPicture = $('[name ="firstPicture"]')
                firstPicture.val(base64String)
                //showing file converted to base64
                /*      document.getElementById('base64').value = base64String;*/

                console.log(base64String)
                $("#imageDisplay").attr('src', "data:image/jpeg;base64," + base64String)
                // alert('File converted to base64 successfuly!\nCheck in Textarea');
            };
        })(f);
        // Read in the image file as a data URL.
        reader.readAsBinaryString(f);
    }
</script>
</body>
</html>
