<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments.html::head(title='Blog Admin')">
<body>

<!-- Nav-->


<div th:replace="_fragments.html::admin_nav(0)"></div>


<div class="container text-right">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary ">Post</button>
        <button type="button" class="btn btn-secondary active">List</button>
    </div>


</div>

<!-- contect-->
<div class="container pt-3">


    <!--    Search-->
    <div class="card">
        <div class="card-body">
            <form id="searchForm">
                <input type="hidden" name="page" value="0">
                <div class="form-row">
                    <div class="col-6 col-sm-4">
                        <input type="text" class="form-control" placeholder="Title" name="title">
                    </div>
                    <div class="col-6 col-sm-4">
                        <select class="form-control" name="typeId">

                            <th:block th:each="type:${types}">
                                <option th:value="${type.getId()}" th:text="${type.getName()}">Default Category 1
                                </option>
                            </th:block>


                        </select>
                    </div>

                    <div class="custom-control custom-checkbox col-sm-2 mt-sm-0 mt-2 d-flex align-items-center">
                        <div class="custom-control custom-checkbox d-flex flex-wrap">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" name="recommend">
                            <label class="custom-control-label" for="customCheck1">Recommend</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary col-sm-2 mt-sm-0 mt-2">Search</button>


                </div>
            </form>
        </div>


    </div>


    <!--    the list-->
    <div class="card mt-2" id="tableContainer">
        <table class="table" th:fragment="blogList">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Recommend</th>
                <th scope="col">Update time</th>
                <th scope="col">Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="blog,index:${page.getContent()}">
                <th scope="row" th:text="${blog.getTitle()}">my title</th>
                <td th:text="${blog.getType()?.getName()}">Study notes</td>
                <td th:text="${blog.getRecommend()?'Yes':'No'}">2020-10-12 18:40:00</td>
                <td th:text="${blog.getUpdateTime()}">2020-10-12 18:40:00</td>
                <td>
                    <div class="row pr-2">
                        <a class="btn btn-info col mr-1" th:href="@{/admin/blogs/{id}/input(id=${blog.getId()})}">
                            Edit
                        </a>
                        <a class="btn btn-danger col ml-1" th:href="@{/admin/blogs/{id}/delete(id=${blog.getId()})}">
                            Delete
                        </a>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="d-flex flex-wrap mt-2" th:if="${page.getTotalPages()>1}">
        <a class="btn btn-primary mr-1 " onclick="page(this)"
           th:attr="data-page=${page.getNumber()-1}"
           th:classappend="${page.isFirst()?'disabled':''}">Up</a>
        <a class="btn btn-primary  mr-auto" onclick="page(this)"
           th:attr="data-page=${page.getNumber()+1}"
           th:classappend="${page.isLast()?'disabled':''}">Next</a>
        <a class="btn btn-primary  ml-1" th:href="@{/admin/blogs/input}">Add</a>
    </div>
</div>


<!-- footer-->

<!---->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:replace="_fragments.html::script"></div>

<script>

    $(function () {

        // jQuery methods go here...
        $("#searchForm").submit(function (event) {
            loadData()
            return false
        });
    });

    function page(obj) {
        let clickedPageNum = $(obj).data("page")
        $("[name='page']").val(clickedPageNum);

        loadData()

    }


    function loadData() {
        console.log("loadData")
        $("#tableContainer").load("/admin/blogs/search", {
            page: $("[name='page']").val(),
            title: $("[name='title']").val(),
            typeId: $("[name='typeId']").val(),
            recommend: $("[name='recommend']").val(),
        })

    }

</script>
</body>
</html>
