<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments.html::head(title='Blog Admin types')">
<body>


<div th:replace="_fragments.html::admin_nav(1)"></div>


<div class="container text-right">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary ">Post</button>
        <button type="button" class="btn btn-secondary active">List</button>
    </div>


</div>

<!-- contect-->
<div class="container pt-3">


    <!--    Search-->
    <!--   <div class="card">
           <div class="card-body">
               <form>
                   <div class="form-row">
                       <div class="col-6 col-sm-4">
                           <input type="text" class="form-control" placeholder="Title">
                       </div>
                       <div class="col-6 col-sm-4">
                           <select class="form-control">
                               <option>Default Category</option>
                           </select>
                       </div>

                       <div class="custom-control custom-checkbox col-sm-2 mt-sm-0 mt-2 d-flex align-items-center">
                           <div class="custom-control custom-checkbox d-flex flex-wrap">
                               <input type="checkbox" class="custom-control-input" id="customCheck1">
                               <label class="custom-control-label" for="customCheck1">Recommend</label>
                           </div>
                       </div>
                       <div class="btn btn-primary col-sm-2 mt-sm-0 mt-2">Search</div>


                   </div>
               </form>
           </div>


       </div>-->


    <!--    the list-->
    <div class="card mt-2">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">name</th>

                <th scope="col">Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type:${types}">
                <th scope="row" th:text="${type.getId()}">1</th>
                <td th:text="${type.getName()}">type name</td>
                <td>
                    <div class="row pr-2">
                        <!--                        TODO-->
                        <a class="btn btn-info col mr-1" th:href="@{/admin/types/{id}/input(id=${type.getId()})}">
                            Edit
                        </a>
                        <a class="btn btn-danger col ml-1" th:href="@{/admin/types/{id}/delete(id=${type.getId()})}">
                            Delete
                        </a>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>


    <div class="d-flex flex-wrap mt-2">
        <a class="btn btn-primary mr-1 " th:href="@{/admin/types/{page}(page=${types.getNumber()-1})}"
           th:classappend="${types.isFirst()?'disabled':''}">Up</a>
        <a class="btn btn-primary  mr-auto" th:href="@{/admin/types/{page}(page=${types.getNumber()+1})}"
           th:classappend="${types.isLast()?'disabled':''}">Next</a>
        <a class="btn btn-primary  ml-1" th:href="@{/admin/types/input}">Add</a>
    </div>
</div>


<!-- footer-->

<!---->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:replace="_fragments.html::script"></div>
</body>
</html>
