<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="_fragments.html::head(title='Blog input Page')">
<body>

<!-- Nav-->

<div th:replace="_fragments.html::admin_nav(1)"></div>

<div class="container text-right">
    <!-- <div class="btn-group" role="group" aria-label="Basic example">
         <button type="button" class="btn btn-secondary active">Post</button>
         <button type="button" class="btn btn-secondary ">List</button>
     </div>-->


    <div th:replace="_fragments.html::admin_post_list_button(0)"></div>

</div>
<!-- contect-->
<div class="container pt-3">
    <form method="post" th:action="@{/admin/types}">

        <input type="hidden" name="id"
               th:value="${type.getId()}">
        <div class="input-group mt-3">
            <div class="input-group-prepend">
                <div class="input-group-text">Type</div>
            </div>
            <input type="text" class="form-control" placeholder="type name" name="name" id="type_input"
                   th:classappend="${message!=null} ?'is-invalid' : ''" th:value="${type.getName()}">
            <div class="invalid-feedback" id="typeInputError" th:text="${message}">

            </div>
        </div>


        <div class="mt-2">
            <div class="btn btn-primary" id="back_button">Back</div>
            <input class="btn btn-primary" id="save_button" type="submit" value="Save">
        </div>
    </form>

</div>


<!-- footer-->


<div th:replace="_fragments.html::script"></div>


<script>
    $(document).ready(function () {

        $("#back_button").click(function () {
            window.history.back();
        })

        $('form').submit(function () {
            console.log("submit")
            let typeInput = $('#type_input')
            let typeValue = $.trim(typeInput.val())
            let isTypeEmpty = typeValue === ''
            if (isTypeEmpty) {
                typeInput.addClass('is-invalid')
                let typeInputError = $('#typeInputError')
                typeInputError.text("type should not empty")
                return false
            } else {
                typeInput.removeClass('is-invalid')
                return true
            }
        })

    });

</script>

</body>
</html>
